.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 2em;
  /* grid-gap: .5em; */
}
.App .user {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.App .user:first-child {
  border-right: 1px solid #e3e3e3;
}
input, select, button {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
}
.game-wrapper {
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 600px;  
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.information {
  margin: 20px 0;
  padding: 20px;
  background: rgb(3 169 244 / 66%);
  font-size: 20px;
  width: 100%;
}
.information button {
  margin-top: 20px;
}
.item {
  width: 31%;
  background-color: #f9f9f9;
  height: 31%;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: 160px;
  font-family: fantasy;
  cursor: pointer;
}